.content {
  width: 900px;
  margin: 0 auto;
}

.nav ul {
  text-align: center;
}

.nav li {
  display: inline-block;
  text-transform: uppercase;
  margin-top: 77px;
  margin-right: 100px;
  margin-bottom: 103px;
}

.nav li:last-child {
  margin-right: 0;
}

.style__menu {
  font-size: 14px;
  font-family: "Playfair Display";
  color: rgb(98, 98, 98);
  text-decoration: none;
  cursor: pointer;
}

.style__menu:hover {
  color: rgb(3, 169, 244);
}

.post-article {
  font-style: 0;
}

.post {
  display: inline-block;
  width: 420px;
  font-size: 14px;
  margin-right: 50px;
  margin-bottom: 130px;
}

.post img {
  display: block;
  height: auto;
}

.post:nth-child(even) {
  margin-right: 0;
}

.post:nth-last-child(-n + 2) {
  margin-bottom: 35px;
}

.post .category {
  font: 300 14px "Ubuntu", sans-serif;
  text-transform: uppercase;
  color: rgb(180, 173, 158);
  margin-top: 26px;
  margin-bottom: 30px;
}

.Lorem {
  font-size: 14px;
  font-family: "Playfair Display";
  color: rgb(98, 98, 98);
  line-height: 1.714;
}

.post h3 {
  font-size: 30px;
  margin-bottom: 35px;
  color: rgb(98, 98, 98);
}

.but-more {
  display: block;
  margin: 0 auto;
  font-size: 20px;
  border: 1px solid;
  padding: 20px 35px;
  margin-bottom: 75px;
  border-color: rgb(98, 98, 98);
  font-size: 20px;
  font-family: "Playfair Display";
  color: rgb(98, 98, 98);
}
